---
---

@import "bootstrap";
$grayMediumLight: #eaeaea;
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #00FFFF; 
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.address {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.project-figure-right {
  float: right;
  padding: 10px;
  margin: 5px;
  width: 30%;
  background: white;
}

.main-figure-left {
  float: left;
  padding: 10px;
  padding-right: 30px;
  width: 30%;
  background: white;
}
