---
---

@import "bootstrap";
$grayMediumLight: #eaeaea;
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.imgAbt a {
  img {
    display:block;
    margin:auto;
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #00FFFF;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

ul.list {
  li {
    width: auto;
    float: left;
    margin-left: -40px;
    margin-right: 50px
  }
}


.address {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.pubs {
  margin: 0 0 20px -20px;
}

.pubs li {
  list-style-type: square;
  padding: 0 0 0 0;
  margin-bottom: 5px;
  font-size: 1.1em;
  line-height: 1.6em;
}

.pubs .num {
  color: #aaa;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.project-figure-right {
  float: right;
  padding: 10px;
  margin-top: 0px;
  width: 30%;
  background: white;
}

.project-figure-right-higher {
  float: right;
  padding: 10px;
  margin-top: -40px;
  width: 30%;
  background: white;
}


.main-figure-left {
  float: left;
  padding: 10px;
  padding-right: 30px;
  width: 30%;
  background: white;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.appname {
  text-align: left;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    // text-align:left;
    /* inline-block space fix */
    // margin-right:-4px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
