body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}


.navbar-custom {
  margin: 0 20px 0 0;
  background-color: #99ffff;
  /*background-image: url('/images/banner.png'); /*no-repeat fixed top;*/ 
  background-image: none;
  border: none;
  height: 60px;
}

.nav > li {
}

.nav > li > a:hover {
  color: #051 !important;
}

.nav > li > a {
  color: #333 !important;
  padding-top: 23px;
  height: 60px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-brand {
  font-size: 24pt;
  color: #160 !important;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-brand:hover {
  color: black !important;
}

.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

$bgDefault      : #99ffff;
$bgHighlight    : #99ffff;
$colDefault     : #99ffff;
$colHover       : #99ffff;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


.photo {
  padding: 10px;
  width: 100%;
  border: 1pt solid #eee; 
}
