<% provide(:title, 'Contact') %>
<h1>Contact Info</h1>
<ul class= 'address center'>
  <li><b>Yaoyu Yang</b></li>
  <li>University of Washington </li>
  <li>Campus Box 352500 </li>
  <li>Seattle, WA 98195 </li>
</ul>
