<div class="container" id="main_page">

<%= image_tag("yang.jpg", :alt => "yang", :class => "main-figure-left") %>
<div class="body" id="description">
<p>
Hi, I'm Yaoyu Yang. I am a Ph.D. student in  <a href="http://www.ee.washington.edu/" rel="nofollow">Electrica Engineering</a> at <a href="http://www.washington.edu/" rel="nofollow">University of Washington</a>, working on synthetic biology and lab automation in the <a href="http://klavinslab.org/" rel="nofollow">Klavins Lab</a>. 
</p>
<p>
I studied <a href="http://www.automation.sjtu.edu.cn/en/" rel="nofollow">automation engineering</a> in my undergraduate at <a href="http://en.sjtu.edu.cn/" rel="nofollow">Shanghai Jiao Tong University</a>, intersted in control theory and its applications in electronic and electrical systems. I began my graduate study in UW EE in fall 2011 and found myself fascinated by the emerging area of synthetic biology where I could apply my knowledge in automation to engineer biological systems, which could potentially lead to disruptive innovations in biotechnology. I joined Klavins lab since then and has been working on several projects in synthetic biology with the aim of making designing, building and characterizing engineered biological system easier and higher througput. Outside lab, I enjoy reading, coding, and movies.
</p>
</div>
</div>