<footer class="footer">
 <nav>
 &copy; 2014 - 2015 <a href="http://www.yaoyuyang.com">Yaoyu Yang </a>  All Rights Reserved.
    <ul>
      <li><a href="http://www.linkedin.com/in/yaoyuyang"><img alt="linkedin" height="35" src="/images/linkedin.png"/></a></li>
      <li><a href="https://github.com/sunshineyyy"><img alt="Github" height="35" src="/images/github.png" /></a></li>
      <li><a href="https://github.com/sunshineyyy"><img alt="Google scholar" height="35" src="/images/google_scholar.gif"/></a></li>
    </ul>
  </nav>
</footer>