<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <!-- <div class="navbar-collapse collapse">
    <div class="container">
      <a href="/" id="logo">Yaoyu Yang</a>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div> -->
  <!-- Fixed navbar -->
   <div class="navbar navbar-invserse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Yaoyu Yang</a>
       </div>
       <div class="navbar-collapse collapse" style="background:black">
         <ul class="nav navbar-nav navbar-right">
           <!-- <li class="active"><a href="/">Home</a></li> -->
           <li><a href="/">Home</a></li>
           <li><a href="/blog">Blog</a></li>
           <li><a href="/resume/Yaoyu_Yang_CV.pdf">CV</a></li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/thesis/YYTHESIS.pdf">PhD Thesis</a></li>
               <li><a href="/research">Projects</a></li>
               <li><a href="/videos">Videos</a></li>
             </ul>
           </li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Apps<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/apps/#CatchOneBus">CatchOneBus</a></li>
               <li><a href="http://seafoodcheck.com/" target="_blank">SeafoodCheck</a></li>
               <li><a href="/apps/#FishToxicity">FishToxicity</a></li>
               <li><a href="/apps/#Hook">Hook</a></li>
<!--                <li class="divider"></li>
               <li class="dropdown-header">Portfolio</li>
               <li><a href="#">Portfolio 1</a></li>
               <li><a href="#">Portfolio 2</a></li> -->
             </ul>
           </li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="http://klavinslab.org/aquarium.html" target="_blank">Aquarium</a></li>
               <li><a href="http://catchonebus.com/" target="_blank">CatchOneBus</a></li>
               <li><a href="http://www.ginkgobioworks.com/" target="_blank">Ginkgo Bioworks</a></li>
               <li><a href="http://seafoodcheck.com/" target="_blank">SeafoodCheck</a></li>
               <li><a href="http://www.uwbiofab.org/" target="_blank">UW BIOFAB</a></li>
             </ul>
           </li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Support Me<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/supportme/#credit-cards">Credit Cards</a></li>
               <li><a href="/supportme/#shopping-portals">Shopping Portals</a></li>
               <li><a href="/supportme/#shopping-apps">Shopping Apps</a></li>
               <li><a href="/supportme/#financial-apps">Financial Apps</a></li>
             </ul>
           </li>
           <!-- <li><a href="/referral">Referral</a></li> -->
           <li><a href="/contact">Contact Me</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
</header>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script> 
$(document).on('click','.navbar-collapse.in',function(e) {

    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }

});
</script>
