<header class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="background:black">
  <!-- <div class="navbar-collapse collapse">
    <div class="container">
      <a href="/" id="logo">Yaoyu Yang</a>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div> -->
  <!-- Fixed navbar -->
   <div class="navbar navbar-invserse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Yaoyu Yang</a>
       </div>
       <div class="navbar-collapse collapse" style="background:black">
         <ul class="nav navbar-nav navbar-right">
           <!-- <li class="active"><a href="/">Home</a></li> -->
           <li><a href="/">Home</a></li>
           <li><a href="/blog">Blog</a></li>
           <li><a href="/resume/Yaoyu_Yang_CV.pdf">CV</a></li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/thesis/YYTHESIS.pdf">PhD Thesis</a></li>
               <li><a href="/research">Projects</a></li>
               <li><a href="/videos">Videos</a></li>
               <li><a href="https://scholar.google.com/citations?hl=en&user=vFh4cMcAAAAJ&view_op=list_works&gmla=AJsN-F7TMroSnERkqHp9VRB5cpaVjxB-b5gMNuq6ZICxw3SrHc7f4MzVG49yxkRx9HN36ENpdJfJWhn55qMNPFp7YSpL-0HU3q-Sca1poA7KkzpVgB5UiMg" target="_blank">Google Scholar</a></li>
             </ul>
           </li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Apps<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="/apps/#CatchOneBus">CatchOneBus</a></li>
               <li><a href="/apps/#SeafoodCheck">SeafoodCheck</a></li>
               <li><a href="/apps/#Hook">Hook</a></li>
<!--                <li class="divider"></li>
               <li class="dropdown-header">Portfolio</li>
               <li><a href="#">Portfolio 1</a></li>
               <li><a href="#">Portfolio 2</a></li> -->
             </ul>
           </li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Investing<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="https://www.ark7.com/j?r=CAX933J9" target="_blank">Ark7</a></li>
               <li><a href="https://join.robinhood.com/yaoyuy" target="_blank">Robinhood</a></li>
             </ul>
           </li>
           <li class="dropdown">
             <a href="/apps" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li><a href="https://www.aquarium.bio/" target="_blank">Aquarium</a></li>
               <li><a href="http://catchonebus.com/" target="_blank">CatchOneBus</a></li>
               <li><a href="https://www.ginkgobioworks.com/" target="_blank">Ginkgo Bioworks</a></li>
               <li><a href="https://seafoodcheck.github.io" target="_blank">SeafoodCheck</a></li>
               <li><a href="http://www.uwbiofab.org/" target="_blank">UW BIOFAB</a></li>
               <li><a href="https://www.ark7.com/j?r=CAX933J9" target="_blank">Ark7</a></li>
             </ul>
           </li>
           <!-- <li><a href="/referral">Referral</a></li> -->
           <li><a href="/contact">Contact Me</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
</header>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script> 
$(document).on('click','.navbar-collapse.in',function(e) {

    if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
        $(this).collapse('hide');
    }

});
</script>
